name: Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  tests:
    name: Test on Ubuntu latest
    runs-on: ubuntu-latest
    container:
      image: ubuntu:latest
      options: --privileged
      env:
        DEBIAN_FRONTEND: noninteractive
    steps:
      - uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"

      - name: Install Dependencies
        run: |
          apt-get update
          apt-get install -y gnome-keyring build-essential ca-certificates
          mkdir -p /github/home/.cache/
          mkdir -p /github/home/.local/share/keyrings/
          chmod 700 -R /github/home/.local/

      - name: Get dependencies
        run: |
          go get -v -t -d ./...

      - name: Tests
        run: |
          echo 'somecredstorepass' | gnome-keyring-daemon --unlock
          make tests
        shell: dbus-run-session -- bash --noprofile --norc -eo pipefail {0}

      - name: Test coverage
        run: |
          echo 'somecredstorepass' | gnome-keyring-daemon --unlock
          make test-coverage

        shell: dbus-run-session -- bash --noprofile --norc -eo pipefail {0}